

    <span>{{ title }} app is running!</span>

    <form>
      <h3>Creating</h3>
      <div>
        <label for="title">New Title:</label><input type="text" name="title" #newTitle>
      </div>
      <div>
        <label for="link">New Link:</label><input type="text" name="link" #newLink>
      </div>
      <button (click)="addArticle(newTitle, newLink)" >Submit</button>
    </form>

    <p></p>
    <form *ngIf="updateOn">
      <h3>Updating</h3>
      <div>
        <label for="title">Updated Title:</label><input type="text" name="title" [value]="selectedArticle.title" #upTitle>
      </div>
      <div>
        <label for="link">Updated Link:</label><input type="text" name="link" [value]="selectedArticle.link" #upLink>
      </div>
      <button (click)="updateArticle(upTitle, upLink, selectedArticle.id)" >Update</button>
    </form>
    <p></p>





    <app-article *ngFor="let article of sortedArticles()" [article]="article"
      (delete)="deleteArticle(article.id)"
      (update)="updateCheck(article)"
      
    ></app-article>